[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = false
name = "pypi"

[packages]
requests = "~=2.32.0"
neomodel = "~=5.4.1"
aiohttp = "~=3.12.15"
pytest-order = "*"
jinja2 = "~=3.1.2"
httpx = "~=0.28.1"
authlib = "~=1.3.2"
starlette-context = "==0.4.0"
opencensus = "~=0.11.4"
opencensus-ext-azure = "~=1.1.13"
pydantic = "~=1.10.0"


[dev-packages]
pytest = "~=7.1.2"
pytest-cov = "~=3.0.0"
pytest-order = "*"
pylint = "~=3.3.2"
isort = "~=5.10.1"
black = "~=22.6.0"

[requires]
python_version = "3.13"

[scripts]
build-sbom = "pipenv run python3 assbom.py --pipfile --fallback-dir doc/licenses --level 2 --output sbom.md"
test = "python -m pytest -s --cov-report html:test_coverage --cov-report xml:reports/coverage.xml --cov-append --cov --junitxml=reports/test_report.xml tests/test_migration_018.py"
verify = "python -m pytest -s --cov-report html:test_coverage --cov-report xml:reports/coverage.xml --cov-append --cov --junitxml=reports/test_report.xml verifications/verification_018.py"
migrate = "python -m migrations.migration_018"
test_corrections = "python -m pytest -s --cov-report html:test_coverage --cov-report xml:reports/coverage.xml --cov-append --cov --junitxml=reports/test_report.xml tests/test_correction_016.py"
verify_corrections = "python -m pytest -s --cov-report html:test_coverage --cov-report xml:reports/coverage.xml --cov-append --cov --junitxml=reports/test_report.xml verifications/correction_verification_016.py"
apply_corrections = "python -m data_corrections.correction_016"
wipe_single_study = "python -m data_corrections.correction_wipe_study"
token = "python -m migrations.auth"
lint = "pylint migrations tests verifications data_corrections"
black = "python -m black migrations tests verifications data_corrections"
isort = "python -m isort migrations tests verifications data_corrections"
format = """sh -c "
    python -m black migrations tests verifications data_corrections \
    && python -m isort migrations tests verifications data_corrections \
"
"""
