.*.swp
tags
**/__pycache__/**
**mypy_cache**
.coverage
/.vscode
/.idea
/.run
.eggs/
AUTHORS
ChangeLog
build
clinical_mdr_api.egg-info
dist
requirements.txt
.hypothesis
int_report.xml
unit_report.xml
auth_report.xml
coverage*
telemetry_report.xml
*_report.xml
*_report.tgz
linting_report.txt
.env
.DS_Store
.scannerwork
.coverage*
/reports
/consumer_api/reports
traceability.html
Consumer_API_Traceability.html