[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "~=0.116.1"
uvicorn = "~=0.32.0"
pydantic = "~=2.10.6"
pydantic-settings = "~=2.7.1"
requests = "*"
openpyxl = "~=3.1.5"
dict2xml = "~=1.7.6"
hypothesis = "~=6.115.6"
python-dateutil="~=2.9.0"
yattag = "~=1.16.0"
python-docx = "~=1.1.2"
colour = "~=0.1.5"
authlib = "~=1.6.5"
httpx = "~=0.27.2"
starlette-context = "==0.4.0"
python-multipart = "~=0.0.12"
beautifulsoup4 = "~=4.12.3"
lxml = "~=5.3.0"
opencensus = "~=0.11.4"
opencensus-ext-azure = "~=1.1.13"
pyyaml = "~=6.0.2"
xsdata = "==24.11"
weasyprint = "~=63.0"
cffi = "~=1.17.1"
asyncache = "~=0.3.1"
cachetools = "~=5.5.0"
usdm = "==0.65.0"
annotated-types = "~=0.6.0"
jinja2 = "*"
nh3 = "~=0.2.21"
neomodel = "==5.5.3"
deepdiff = "~=8.6.1"

[dev-packages]
pytest = "~=8.4.1"
pytest-bdd = "~=7.3.0"
pytest-cov = "~=6.0.0"
pylint = "~=3.3.1"
rich = "~=14.0.0"
flake8 = "~=7.1.1"
pep8 = "~=1.7.1"
autopep8 = "~=2.3.1"
mypy = "~=1.16.0"
pbr = "~=6.1.0"
rope = "~=1.13.0"
isort = "~=5.13.2"
black = "~=24.10.0"
pytest-asyncio = "~=0.24.0"
pytest-forked = "~=1.6.0"
pytest-xdist = "~=3.6.1"
parameterized = "~=0.9.0"
schemathesis = "~=3.38.5"
allure-pytest = "==2.13.5"
pre-commit = "~=4.2.0"
opencensus-ext-zipkin = "*"
uvicorn = {extras = ["standard"], version = "*"}
markdown = "~=3.0.0"

[requires]
python_version = "3.13"

[scripts]
dev = "uvicorn --host=0.0.0.0 --port=8000 clinical_mdr_api.main:app --reload"
prod = "uvicorn --host=0.0.0.0 --port=8000 --limit-concurrency=120 --workers=4 --loop=asyncio clinical_mdr_api.main:app"
test = "pytest -s"
dist = "python setup.py bdist_wheel"
package = "pip wheel -r requirements.txt -w dist"
testunit = "pytest -s --cov-report html:reports/coverage-unit-html --cov-report xml:reports/coverage.xml --cov-append --cov  --junitxml=reports/unit_report.xml clinical_mdr_api/tests/unit/ common/tests/unit"
testint = "pytest -s -n 4 --dist loadfile --cov-report html:reports/coverage-int-html --cov-report xml:reports/coverage.xml --cov-append --cov --junitxml=reports/int_report.xml clinical_mdr_api/tests/integration/"
testauth = "pytest -s --cov-report html:reports/coverage-auth-html --cov-report xml:reports/coverage.xml --cov-append --cov --junitxml=reports/auth_report.xml clinical_mdr_api/tests/auth/ common/tests/auth"
test-telemetry = "pytest -s --cov-report html:reports/coverage-telemetry-html --cov-report xml:reports/coverage.xml --cov-append --cov --junitxml=reports/telemetry_report.xml clinical_mdr_api/tests/telemetry/"
testunitallure = "pytest -s --cov-report html:reports/coverage-unit --cov-report xml:reports/coverage.xml --cov-append --cov=clinical_mdr_api  --junitxml=reports/unit_report.xml --alluredir reports/allure-results clinical_mdr_api/tests/unit/"
testintallure = "pytest -s -n 4 --dist loadfile --cov-report html:reports/coverage-int --cov-report xml:reports/coverage.xml --cov-append --cov=clinical_mdr_api --junitxml=reports/int_report.xml --alluredir reports/allure-results clinical_mdr_api/tests/integration/"
lint = "pylint -j 0 clinical_mdr_api consumer_api common"
mypy = "mypy clinical_mdr_api consumer_api common"
sblint = "python -m sblint.main clinical_mdr_api consumer_api common"
black = "python -m black clinical_mdr_api consumer_api common"
isort = "python -m isort clinical_mdr_api consumer_api common"
format = """sh -c "
    python -m isort clinical_mdr_api consumer_api common \
    && python -m black clinical_mdr_api consumer_api common \
"
"""
openapi = "python generate_openapi_json.py"
schemathesis = """
    schemathesis
        run
        --experimental=openapi-3.1
        --checks=all
        --base-url=http://localhost:8000
        --request-timeout=200000
        --hypothesis-max-examples=10
        --hypothesis-verbosity=normal
        --hypothesis-deadline=None
        --hypothesis-suppress-health-check=too_slow,filter_too_much,data_too_large
        --junit-xml=reports/schemathesis_report.xml
        --report=reports/schemathesis_report.tgz
        --show-trace
        openapi.json
"""
build-sbom = "pipenv run python3 assbom.py --pipfile --fallback-dir doc/licenses --level 2 --output sbom.md"
schemathesis-help = "schemathesis run --help"
consumer-api-dev = "uvicorn --host=0.0.0.0 --port=8008 consumer_api.consumer_api:app --reload"
consumer-api-lint = "pylint consumer_api common"
consumer-api-test = "pytest -s -n 1 --dist loadfile --cov-report html:consumer_api/reports/coverage-int-html --cov-report xml:consumer_api/reports/coverage.xml --cov-append --cov --junitxml=consumer_api/reports/test_report.xml --ignore=consumer_api/tests/auth consumer_api/tests common/tests/unit"
consumer-api-testauth = "pytest -s -n 1 --dist loadfile --cov-report html:consumer_api/reports/coverage-auth-html --cov-report xml:consumer_api/reports/coverage.xml --cov-append --cov --junitxml=consumer_api/reports/auth_report.xml consumer_api/tests/auth common/tests/auth"
consumer-openapi = "python generate_openapi.py consumer_api.consumer_api:app consumer_api/openapi.json consumer_api/apiVersion"
consumer-api-schemathesis = """
    schemathesis
        run
        --experimental=openapi-3.1
        --checks=all
        --base-url=http://localhost:8008
        --request-timeout=30000
        --hypothesis-max-examples=100
        --hypothesis-verbosity=normal
        --hypothesis-deadline=None
        --hypothesis-suppress-health-check=too_slow,filter_too_much,data_too_large
        --junit-xml=consumer_api/reports/schemathesis_report.xml
        --report=consumer_api/reports/schemathesis_report.tgz
        --show-trace
        consumer_api/openapi.json
"""
consumer-api-traceability = "python consumer_api/requirements/generate_traceability.py"
