[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
httpx = "0.28.1"
httpx_auth = "0.23.1"

[dev-packages]

[requires]
python_version = "3.14"

[scripts]
build-sbom = "pipenv run python3 assbom.py --pipfile --fallback-dir doc/licenses --level 2 --output sbom.md"
export = "python -m export"
export-study-list = "python -m export_study_list"
