[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "~=2.27"
neo4j = "~=5.26"
pytest = "~=8.4.1"
openpyxl = "~=3.1"

[dev-packages]
pylint = "~=3.3.1"
black = "*"
pytest = "~=8.4.1"
pytest-cov = "~=6.0.0"

[requires]
python_version = "3.14"

[scripts]
import_cdisc_ct_into_cdisc_db = "python cdisc_staging.py"
import_ct_from_cdisc_db_into_mdr = "python cdisc_import.py"
bulk_import_data_models = "python -m mdr_standards_import.scripts.wrapper.cdisc_data_models.wrapper_bulk_import"
import_cdisc_data_models_into_cdisc_db = "python -m mdr_standards_import.scripts.wrapper.cdisc_data_models.wrapper_import_into_cdisc_db"
import_data_models_from_cdisc_db_into_mdr = "python -m mdr_standards_import.scripts.wrapper.cdisc_data_models.wrapper_import_from_cdisc_db_into_mdr"
download_ct_json_data_from_cdisc_api = "python -m mdr_standards_import.scripts.import_scripts.cdisc_ct.download_json_data_from_cdisc_api"
download_data_models_json_data_from_cdisc_api = "python -m mdr_standards_import.scripts.import_scripts.cdisc_data_models.download_json_data_from_cdisc_api"
test = "python -m pytest -s --cov-report html:test_coverage --cov-report xml:reports/coverage.xml --cov --junitxml=reports/test_report.xml mdr_standards_import/tests"
build-sbom = "pipenv run python3 assbom.py --pipfile --fallback-dir doc/licenses --level 2 --output sbom.md"
