[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
aiohttp = "~=3.10.10"

[dev-packages]
pylint = "~=3.3.1"
isort = "~=5.13.2"
black = "~=24.10.0"

[requires]
python_version = "3.14"

[scripts]
build-sbom = "pipenv run python3 assbom.py --pipfile --fallback-dir doc/licenses --level 2 --output sbom.md"
import_all = "python -m run_import"
import_feature_flags = "python -m importers.run_import_feature_flags"
import_data_suppliers = "python -m importers.run_import_data_suppliers"
import_dummydata = "python -m importers.run_import_dummydata"
config = "python -m importers.run_import_config"
complexity = "python -m importers.run_import_complexity_burdens"
dictionaries = "python -m importers.run_import_dictionaries"
activities = "python -m importers.run_import_activities"
codelistterms1 = "python -m importers.run_import_standardcodelistterms1"
codelistterms2 = "python -m importers.run_import_standardcodelistterms2"
unitdefinitions = "python -m importers.run_import_unitdefinitions"
codelistfinish = "python -m importers.run_import_standardcodelistfinish"
compounds = "python -m importers.run_import_compounds"
crfs = "python -m importers.run_import_crfs"
mockdata = "python -m importers.run_import_mockdata"
mockdatajson = "python -m importers.run_import_mockdatajson"
e2e = "python -m importers.run_import_e2e"
sponsormodels = "python -m importers.run_import_sponsormodels"
response_codelists = "python -m importers.run_import_response_codelists"
validatedatafiles = "python -m test_datafiles_e2e_sync"
format = """sh -c "
    python -m isort . \
    && python -m black . \
"
"""
lint = "pylint importers"
black = "python -m black ."
isort = "python -m isort ."
