[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "=2.32.5"
urllib3 = ">=2.6.0"
neo4j = "~=4.4"

[dev-packages]
pylint = "*"
black = "*"

[requires]
python_version = "3.13"

[scripts]
lint = "pylint *.py"
init_neo4j = "python init_neo4j.py"
init_aura = "python init_aura.py"
update_ct_stats = "python update_ct_stats.py"
export_to_cypher = "python export_to_cypher.py"
import_from_cypher = "python import_from_cypher.py"
build-sbom = "pipenv run python3 assbom.py --pipfile --fallback-dir doc/licenses --level 2 --output sbom.md"
import_reports = "python neodash/import_reports.py"
